<div class="footer grid">
    <div class="col-12">
        <div class="flex justify-content-center">
            <div class="grid" style="width: 70%;">
                <div class="col-4 flex justify-content-end">
                    <img src="images/logo.png" height="175" alt="">
                </div>
                <div class="col-8 justify-content-center align-items-center">
                    <div>
                        <p class="footer-text">Contact us at  <strong>+1 626-234-0571</strong> to book residential landscape care services.</p>
                        <p class="footer-text">
                            House Face Landscape Maintenance, Yard clean up and Tree Service
                            Los Angeles, West Los Angeles, Brentwood, Westwood, Beverly Hills,
                            Santa Monica, Studio City, Sherman Oaks, Glendale, La Cañada, Pasadena, Altadena and Burbank.
                        </p>
                    </div>
                </div>
                <div class="col-12">
                    <hr>
                </div>
                <div class="col-12 flex justify-content-center">
                    <a>
                        <img src="icons/facebook.png"  width="64" class="p-3" alt="">
                    </a>
                    <a>
                        <img src="icons/instagram.png" width="64" class="p-3" alt="">
                    </a>
                    <a href="">
                        <img src="icons/whatsapp.png"  width="64" class="p-3" alt="">
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
