.rq-ripple-link{
    &:hover{
        background-color: color-mix(in srgb, var(--p-surface-100) calc(100%* var(--tw-bg-opacity, 1)), transparent);
        .pi{
            color: var(--rq-primary-color);
            font-weight: 300;
        }
    }
}

.fix-link{
    position:fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: 999999;
}

.rq-layout-body{
    margin-top: 72px;
}

a{
    text-decoration: none;
    color: var(--rq-secondary-color);
}
