<div class="rq-section">
    <div class="rq-section-title" >
        About House Face Landscape
    </div>
    <div class="rq-section-body flex justify-content-center">
        <div class="rq-body-text">
            <p style="align-items: center;text-align: center;">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Itaque atque quibusdam harum pariatur tempore dolorem necessitatibus optio quo.
                Voluptatem perspiciatis praesentium autem sequi, amet officiis optio animi odio pariatur adipisci
                dignissimos omnis minima quasi impedit repellendus nobis quos, temporibus ducimus quas explicabo, voluptate aperiam cumque
                 veniam repudiandae. Molestias, nostrum. Ea?
            </p>

        </div>
    </div>
</div>

<div class="rq-section">
    <div class="rq-section-title" >
        You can find us on our web pages
    </div>
    <div class="rq-section-body flex justify-content-center">
        <div class="rq-body-text flex justify-content-center">
            <div class="flex flex-wrap justify-content-center">
                <div    class="border-circle h-6rem w-6rem m-2 flex align-items-center justify-content-center rq-btn"
                        (click)="goTo('https://api.whatsapp.com/send/?phone=16262340571&text=Message+us+&type=phone_number&app_absent=0')" >
                    <i class="pi pi-whatsapp"></i>
                </div>
            </div>
            <div class="flex flex-wrap justify-content-center">
                <div    class="border-circle h-6rem w-6rem m-2 flex align-items-center justify-content-center rq-btn"
                        (click)="goTo('https://www.instagram.com/housefaceinc?igsh=MzRlODBiNWFlZA==')">
                    <i class="pi pi-instagram"></i>
                </div>
            </div>
            <div class="flex flex-wrap justify-content-center">
                <div    class="border-circle h-6rem w-6rem m-2 flex align-items-center justify-content-center rq-btn"
                        (click)="goTo('https://www.facebook.com/Housefaceinc?mibextid=JRoKGi')">
                    <i class="pi pi-facebook"></i>
                </div>
            </div>
        </div>
    </div>
</div>
